/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body p {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: 'Rubik', sans-serif;
}

/* end */

body {
  height: 1000px;
}

.btn-galaxy-2 {
  border: 2px transparent;
  background: linear-gradient(111.12deg, #bf8cff 14.45%, #bb70d9 47.17%, #de7fe0 86.86%);
  color: #ffffff;
  border-radius: 10px;
  margin-top: 3px;
  text-decoration: none;
  padding: 7px;
  transition: 0.3s ease-in-out;
}

.btn-galaxy-2:hover {
  border: 1px solid #9d39cf;
  transition: 0.7s ease-in-out;
}

.btn-galaxy-2:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* hiasan */
.bg {
  background: linear-gradient(111.12deg, #a26ee0 14.45%, #d27de7 47.17%, #e472d5 86.86%);
  width: 100%;
}

.bg-1 {
  background: linear-gradient(111.12deg, #af7eeb 14.45%, #d486e7 47.17%, #f7a0eb 86.86%);
  width: 100%;
  color: white;
}

footer p {
  font-family: 'Lato', sans-serif;
}

nav {
  z-index: 999;
}

.navbar-nav a {
  color: white;
}
/* navbar */
.search {
  width: 15rem;
}

/* product */
.card {
  width: 14rem;
  overflow: hidden;
  border: transparent;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin: 10px;
}

.card-body .card-title {
  font-size: 15px;
  font-weight: 500;
}

.card-body .kategori {
  font-size: 13px;
}

.card-text span {
  font-size: 12px;
}
.card-text {
  font-size: 18px;
}

.card .brand {
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #9d39cf;
  color: #9d39cf;
  width: 80%;
  padding: 1px;
  margin-bottom: 1px;
  margin: auto;
  text-align: center;
}

.diskon {
  margin-right: 10px;
  opacity: 0.7;
  font-size: 12px;
}

.card img {
  overflow: hidden;
  margin: 0;
  transition: 0.7s ease-in-out;
}

.share {
  display: flex;
  flex-direction: none;
}

/* button */
.btn-outline-pink {
  background-color: #974cbd;
  font-weight: 600;
  color: white;
}

.btn-outline-pink:hover {
  background-color: #a559ca;
  font-weight: 600;
  color: white;
}

/* responsive */
@media screen and (max-width: 576px) {
  .card {
    width: 12rem;
    margin: 2px;
  }
  .isi .share {
    display: none;
    flex-direction: row;
  }

  .card .card-body p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .mini-navbar .search {
    display: none;
  }
}
